<section id="contactsIndex">
    <h3 class="PageHeading">All Your Contacts</h3>
    <div id="contactContainer">
        <% contacts.forEach(contact => { %>
            <div class="ContactCard">
                <p><%= contact.firstname %></p>
                <p><%= contact.lastname %></p>
                <div class="CardBtns">
                    <a href="/contacts/<%= contact.id %>" class="ViewBtn">View</a>
                    <a href="/contacts/<%= contact.id %>/edit" class="EditBtn">Edit</a>
                    <%- include('../partials/deleteform', { url: `/contacts/${ contact.id }`}) %>
                </div>
            </div>
        <% }) %> 
    </div>
</section>