<section id="showContact">
    <h3 class="PageHeading">Showing: <%= contact.firstname %> <%= contact.lastname %></h3>
    <div>
        <p><%= contact.firstname %></p>
        <p><%= contact.lastname %></p>
        <p><%= contact.pvtMobile %></p>
        <p><%= contact.pvtEmail %></p>
        <h4>Work</h4>
        <p><%= contact.wrkMobile %></p>
        <p><%= contact.wrkEmail %></p>
        <p><%= contact.company %></p>
        <p><%= contact.jobTitle %></p>
        <h4>Address</h4>
        <p><%= address.street %></p>
        <p><%= address.zipCode %></p>
        <p><%= address.city %></p>
        <p><%= address.country %></p>
        <h4>Birthday</h4>
        <p><%= birthday.day %></p>
        <p><%= birthday.month %></p>
        <p><%= birthday.year %></p>
        <textarea disabled placeholder="Notes...."><%= contact.notes %></textarea>
        <%- include('../partials/deleteform', { url: `/contacts/${ contact.id }`}) %>
        <a href="/contacts/<%= contact.id %>/edit">Edit</a>
    </div>
</section>